name: deploy-infra
run-name: ${{ github.workflow }}
on:
  workflow_call:
    inputs:
      # enable_harder_runner:
      #   description: "Specify whether to enable the Harden Runner action (only on public repositories)"
      #   default: false
      #   required: true
      #   type: boolean
      template_dir:
        description: "Specify repository path of the bicep directory"
        default: bicep
        required: true
        type: string
      template_prefix:
        description: "Specify file prefix of the main bicep template"
        default: azure.deploy
        required: true
        type: string
      deploy_jumpbox:
        description: "Specify whether the infrastructure deployed contains a jumpbox virtual machine (also set password param name and value)"
        required: true
        type: boolean
      jumpbox_password_param_name:
        description: "Specify the parameter name for the jumpbox admin's password"
        required: false
        type: string
      jumpbox_password:
        description: "Specify the jumpbox admin's password"
        required: false
        type: string
      location:
        description: "Specify the location to store the deployment metadata"
        default: westeurope
        required: true
        type: string
      deployment_name:
        description: "Specify deployment name"
        required: true
        type: string
    secrets:
      AZURE_CREDENTIALS:
        required: true

jobs:
  deploy:
    name: Deploy infrastructure
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      # - name: Harden Runner
      #   if: inputs.enable_harder_runner
      #   uses: step-security/harden-runner@v2.0.0
      #   with:
      #     disable-sudo: true
      #     egress-policy: audit

      - name: Checkout
        uses: actions/checkout@v3

      - name: Azure login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Lint template
        working-directory: ${{ github.workspace }}/${{ inputs.template_dir }}
        run: |
          az bicep build --file ${{ inputs.template_prefix }}.bicep

      - name: Validate template
        working-directory: ${{ github.workspace }}/${{ inputs.template_dir }}
        run: |
          az deployment sub validate \
            --name "${{ inputs.deployment_name }}" \
            --location "${{ inputs.location }}" \
            --template-file ${{ inputs.template_prefix }}.bicep \
            --parameters ${{ inputs.template_prefix }}.parameters.json

      # - name: Deploy template
      #   working-directory: ${{ github.workspace }}/${{ inputs.template_dir }}
      #   if: inputs.deploy_jumpbox == 'false'
      #   run: |
      #     az deployment sub create \
      #       --name "${{ inputs.deployment_name }}" \
      #       --location "${{ inputs.location }}" \
      #       --template-file ${{ inputs.template_prefix }}.bicep \
      #       --parameters ${{ inputs.template_prefix }}.parameters.json

      - name: Validate no jumpbox
        if: inputs.deploy_jumpbox
        run: echo "no jumpbox"

      - name: Validate with jumpbox
        if: inputs.deploy_jumpbox == 'false'
        run: echo "with jumpbox"

      - name: List public repo's
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.repos.listPublic();

      # - name: Validate password's existence
      #   if: inputs.deploy_jumpbox == 'true' && ( inputs.jumpbox_password_param_name == '' || inputs.jumpbox_password == '' )
      #   uses: actions/github-script@v6
      #   with:
      #     script: |
      #       core.setFailed('Both the jumpbox_password_param_name and the jumpbox_password must be different than ""')

      # - name: Deploy template
      #   working-directory: ${{ github.workspace }}/${{ inputs.template_dir }}
      #   if: inputs.deploy_jumpbox == 'true'
      #   run: |
      #     az deployment sub create \
      #       --name "${{ inputs.deployment_name }}" \
      #       --location "${{ inputs.location }}" \
      #       --template-file ${{ inputs.template_prefix }}.bicep \
      #       --parameters ${{ inputs.template_prefix }}.parameters.json \
      #                   ${{ inputs.jumpbox_password_param_name }}="${{ inputs.jumpbox_password }}"
