name: checkov-scan
run-name: ${{ github.workflow }}
on:
  workflow_call:
    inputs:
      template_dir:
        description: "Specify repository path of the bicep directory"
        required: true
        type: string
      template_prefix:
        description: "Specify file prefix of the main bicep template"
        required: true
        type: string
      code_scanning:
        description: "Specify whether to integrate with code scanning (enabled/disabled)"
        required: true
        type: string
      enable_harder_runner:
        description: "Specify whether to enable the Harden Runner action (only on public repositories)"
        required: true
        type: boolean

jobs:
  scan-and-publish:
    name: Scan bicep and publish results
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        if: inputs.enable_harder_runner == 'true'
        uses: step-security/harden-runner@v2.0.0
        with:
          disable-sudo: true
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@v3

      # When testing the bicep templates directly, the modules are not included.
      - name: Bicep build
        uses: Azure/bicep-build-action@v1.0.0
        with:
          bicepFilePath: ${{ inputs.template_dir }}/${{ inputs.template_prefix }}.bicep
          outputFilePath: ${{ inputs.template_dir }}/${{ inputs.template_prefix }}.json

      - name: Run Checkov scan - sarif
        if: inputs.code_scanning_enabled == 'enabled'
        uses: bridgecrewio/checkov-action@master
        with:
          file: ${{ inputs.template_dir }}/${{ inputs.template_prefix }}.json
          framework: arm
          soft_fail: false
          output_format: sarif
          output_file_path: results.sarif

      - name: Run Checkov scan - junitxml
        if: inputs.code_scanning_enabled == 'disabled'
        uses: bridgecrewio/checkov-action@master
        with:
          file: ${{ inputs.template_dir }}/${{ inputs.template_prefix }}.json
          framework: arm
          soft_fail: false
          output_format: junitxml
          output_file_path: results.xml

      - name: Upload results as artifact
        uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: scan-results
          path: results.*
          retention-days: 10

      - name: Upload sarif file
        if: (success() || failure()) && inputs.code_scanning_enabled == 'enabled'
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: results.sarif
          category: checkov

      - name: Publish scan results
        if: (success() || failure()) && inputs.code_scanning_enabled == 'disabled'
        uses: mikepenz/action-junit-report@v3
        with:
          check_name: Checkov Scan Results
          report_paths: results.xml
          detailed_summary: true
