name: checkov-scan

run-name: ${{ github.workflow }}

on:
  workflow_call:
    inputs:
      template_dir:
        description: "Define repository path of the bicep directory. Default is 'bicep'"
        default: bicep
        required: true
        type: string
      template_prefix:
        description: "Define file prefix of the main bicep template. Default is 'azure.deploy'"
        default: azure.deploy
        required: true
        type: string
jobs:
  scan-and-publish:
    name: Scan Bicep
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      # When testing the bicep templates directly, the modules are not included.
      - name: Bicep Build
        uses: Azure/bicep-build-action@v1.0.0
        with:
          bicepFilePath: ${{ inputs.template_dir }}/${{ inputs.template_prefix }}.bicep
          outputFilePath: ${{ inputs.template_dir }}/${{ inputs.template_prefix }}.json

      - name: Scan with Checkov
        uses: bridgecrewio/checkov-action@master
        with:
          file: ${{ inputs.template_dir }}/${{ inputs.template_prefix }}.json
          framework: arm
          soft_fail: false
          output_format: junitxml

      - name: Write results
        if: always()
        run: |
          echo "$CHECKOV_RESULTS" > results.xml

      - name: Upload results as artifact
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: scan-results
          path: results.xml
          retention-days: 30

      - name: Publish Scan Results
        uses: mikepenz/action-junit-report@v3
        if: always()
        with:
          check_name: Checkov Scan Results
          report_paths: results.xml
          detailed_summary: true
