# This workflow scans a bicep template using PSRule and publishes the results.

name: psrule-scan
run-name: ${{ github.workflow }}
on:
  workflow_call:
    inputs:
      template_dir:
        description: "Specify repository path of the bicep directory"
        required: true
        type: string
      template_prefix:
        description: "Specify file prefix of the main bicep template"
        required: true
        type: string
      code_scanning_enabled:
        description: "Specify whether to integrate with code scanning (true/false)"
        required: true
        type: string
      enable_harder_runner:
        description: "Specify whether to enable the Harden Runner action (only on public repositories)"
        required: true
        type: boolean

jobs:
  scan-and-publish:
    name: Scan bicep and publish results
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        if: inputs.enable_harder_runner == 'true'
        uses: step-security/harden-runner@v2.0.0
        with:
          disable-sudo: true
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@v3

      - name: Bicep Build
        uses: Azure/bicep-build-action@v1.0.0
        with:
          bicepFilePath: ${{ inputs.template_dir }}/${{ inputs.template_prefix }}.bicep
          outputFilePath: ${{ inputs.template_dir }}/${{ inputs.template_prefix }}.json

      - name: Run PSRule scan - sarif
        if: inputs.code_scanning_enabled == 'true'
        uses: microsoft/ps-rule@v2.6.0
        with:
          modules: "PSRule.Rules.Azure"
          inputPath: ${{ inputs.template_dir }}/${{ inputs.template_prefix }}*.json
          outputFormat: sarif
          outputPath: psrule-results-${{ github.run_number }}.sarif

      - name: Run PSRule scan - NUnit3
        if: inputs.code_scanning_enabled == 'false'
        uses: microsoft/ps-rule@v2.6.0
        with:
          modules: "PSRule.Rules.Azure"
          inputPath: ${{ inputs.template_dir }}/${{ inputs.template_prefix }}*.json
          outputFormat: NUnit3
          outputPath: psrule-results-${{ github.run_number }}.xml

      - name: Upload results as artifact
        uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: psrule-scan-results
          path: results.*
          retention-days: 10

      - name: Upload sarif file
        if: (success() || failure()) && inputs.code_scanning_enabled == 'true'
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: psrule-results-${{ github.run_number }}.sarif
          category: psrule

      - name: Publish scan results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: (success() || failure()) && inputs.code_scanning_enabled == 'false'
        with:
          check_name: PSRule Scan Results
          nunit_files: psrule-results-${{ github.run_number }}.xml
          comment_mode: off
          fail_on: test failures
          action_fail: false
          ignore_runs: false
          job_summary: true
          compare_to_earlier_commit: true
          check_run_annotations: all tests, skipped tests
